* {
    box-sizing: border-box;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin-top: 0;
  }

  html {
  scroll-behavior: smooth;
}
.logo {
  width: 200px;
  height: 100px;
  object-fit: contain;
}
  h2 {
    line-height: 29px;
    font-family: "Playfair Display", serif;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 42px;
    margin-top: 40px;
    margin-bottom: 20px;
  }
  a {
    text-decoration: none;
    color: inherit;
    background: none;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
  }
  
  
  address {
    font-style: normal;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  p {
    letter-spacing: inherit;
  }
  
  /* Base Styles */
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: "Poppins", sans-serif;
  }
  
  .container {
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 15px;
  }
  
  .header {
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav-menu ul {
    font-family: "Playfair Display", serif;
    letter-spacing: 2px;
    display: flex;
    gap: 30px;
  }
  
  .img-container {
    width: 75%;
    height: 800px;
    overflow: hidden;
  }
  
  .img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* зображення не буде спотворене */
    display: block;
  }

  .servis-container{
    display: flex;
    overflow: hidden;
  }


  .services-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 40px;
    max-width: 600px;
    overflow-y: auto;
  }

  .services-box h2 {
    font-family: 'Playfair Display', serif;
    font-size: 28px;
    border-bottom: 1px solid #000;
    padding-bottom: 10px;
    margin-top: 0;
  }

  .category {
    margin-top: 30px;
  }

  .category h3 {
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-bottom: 10px;
    margin-bottom: 10px;
    font-weight: normal;
  }

  .service {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
  }

  
/* -----------футер------- */
.footer-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
  }
  
  .footer-column {
    flex: 1;
    min-width: 180px;
  }
  
  .footer-column a.logo {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 50px;
  }
  
  .footer-column h3 {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .footer-column p {
    font-size: 14px;
    line-height: 1.5;
    color: #555;
    margin-top: 20px;
  }
  
  .footer-column ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer-column ul li {
    margin-bottom: 8px;
  }
  
  .footer-column ul li a {
    text-decoration: none;
    color: #000;
    font-size: 14px;
  }
  
  .footer-column ul li a:hover {
    text-decoration: underline;
  }
  
  .subscribe-form {
    display: flex;
    margin-top: 15px;
    margin-right: 70px;
  }
  
  .subscribe-form input {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-right: none;
    border-radius: 4px 0 0 4px;
    width: 110px;
  }
  
  .subscribe-form button {
    padding: 8px 16px;
    background-color: #000;
    color: #fff;
    font-size: 14px;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
  }
  
  .subscribe-form button:hover {
    background-color: #333;
  }
  
  .footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #ddd;
    margin-top: 40px;
    padding-top: 20px;
    font-size: 14px;
  }
  
  .footer-bottom .left strong {
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
  }

section{
  margin-bottom: 60px;
}